@media screen and (min-width: 480px) {　

 .navigation {
  text-align: center;
  background-color: 128;
 }


  nav ul li{
    list-style: none;
    display: inline-block;
    min-width: 110px;
    margin-left: 10vh;
    margin-top: 1vh;
  }

  nav ul li a{
    text-decoration: none;
    color: white;
  }

  h3{
    color: white;
  }

  nav ul li a:hover{
    color: #E7DA66;
  }

  body{
    background-color: #111111;
  }

  header {
    background-color: #222222; 
    color: white;
  }

  header h1 {
    color: white;
    font-size: 5vh;
  }

  body h1 {
    color: white;
  }

  h2 {
    color: orange;
  }

  p {
    color: white;
  }

  header h1 {
    text-align: center;
    margin-top: 3vh;
  }

  footer {
    background-color: #222222;
    width: 100%; 
    margin-top: 20vh; 
    position: absolute;
  }



  #headerLeft {
    float: left;
  }

  #headerRight {
    float: right;
  }

  #parent {
    display: flex;
  }

  #wrapper {
    width: 95%;
    margin: auto;
    text-align: center;
    position: relative;
  }

  #introduction {
    margin-top: 10vh;
  }

  #introduction h1 {
    margin-bottom: 5vh; 
    text-align: center;
  }

  #introduction h2 {
    text-align: center;
    font-size: 5vh;
  }

  .selfie p {
    text-align: center;
    font-size: 3vh;
  }

  #introduction img {
    width: 300px;
    height: 300px;
    border: 3px solid white; 
    border-radius: 50%;
    display: inline-block;
    margin-top: 8vh;
    margin-bottom: 8vh;
    object-fit: cover;
    object-position: 0 1px;
  }

   #twocolumn h3{
    color: white;
  }

  #twocolumn {
    column-count: 2;
    column-rule: 1px solid white;
    margin-top: 15vh;
    margin-bottom: 15vh;
    column-fill: auto;
  }

  #photograph a{
    color: white;
  }



  #wrapper > main {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  table,
  td {
    border: 1px solid #333;
    padding: 10px;
  }

  thead,
  tfoot,
  tbody{
    background-color: #333;
    color: #fff;
  }


  table {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .wrapper-education p{
    text-align: center;
  }  



  #container {
    column-rule: 1px solid white;
    margin-top: 15vh;
    margin-bottom: 35vh;
  }



  #workWrapper {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  #column-left {
    float: left; 
    width: 33.3%; 
    background: coral;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }

  #column-right {
    float: left; 
    width: 33.3%; 
    background: orange;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }

  #column-center {
    width: 33.3%; 
    background: tomato; 
    margin:0 auto;
    float: left;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }

  #footerWork { 
    margin-top: 70vh;
  }


  #menuimg {
    display: none;
  }

  footer p {
    text-align: center;
  }


  #contactName {
    color: white;
  }

  label {
    color: white;
  }
 
  hr{ 
    color: white; 
    width: 100%;
  }
}

@media screen and (max-width: 479px) {　
  
  #parent {
	  display: inline-block;
  }
 
  #menuing {
	  width: 10vh; 
	  height: 10vh;
  }

  body{
	  background-color: #111111;
  }

  header {
    background-color: #222222; 
    color: white;
  }

  h3{
	  color: white;
  }

  h1 { 
    color: white; 
  }

  h2 {
	  color: orange;
  }

  p {
	  color: white;
  }

  footer p {
	  text-align: center;
  }

  footer nav {
	  display: none;
  }

  footer {
	  margin-top: 10vh;
	  background-color: #222222 
  }

  #twocolumn {
	  margin-top: 10vh;
  }

  nav li{
    list-style: none;
  }

  nav a {
	  color: white;
  }

  .navigation {
	  background-color: blue;

  }

  #headerLeft {
	  float: left;
  }

  #headerRight {
	  float: right;
  }

  #parent {
	  display: flex;
  }

  #headerRight h1 {
    margin: 0;
  }

  #tal {
	  margin-left: auto;
	  margin-right: auto;
	  border-spacing: 0;
	  background-color: #A9A9A9;
  }


  #wrapper > main {
	  padding-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  table,
  td {
    border: 1px solid #333;
    padding: 10px;
  }

  thead,
  tfoot,
  tbody{
    background-color: #333;
    color: #fff;
  }

  #introduction img {
    width: 300px;
    height: 250px;
  }

  table {
	  margin-left: 1%;
	  margin-top: 5%;
	  margin-bottom: 5%;
  }

  iframe {
  	margin-top: 10%;
  }
  
  hr{ 
    color: white; 
    width: 100%;
  }

}
